@import 'app/styles';

.LIST {
  display: grid;

  .card {
    margin-bottom: 30px;
  }
}

.GRID {
  display: flex;

  flex-wrap: wrap;

  .card {
    margin-right: 20px;

    margin-bottom: 20px;
  }
}
