@import 'app/styles';

.popup {
  position: relative;
}

.disabled {
  opacity: 0.7;
}

.active {
  background-color: var(--inverted-primary-color);
}

.up-left {
  bottom: 100%;

  right: 0;
}

.up-right {
  bottom: 100%;

  left: 0;
}

.down-left {
  top: 100%;

  right: 0;
}

.down-right {
  top: 100%;

  left: 0;
}
