@import '@styles';

.icon {
  fill: var(--icon-redesigned);

  transition: all 0.2s;

  &:hover {
    fill: var(--accent-redesigned);
  }
}

.button {

  margin: 0;

  padding: 0;

  background: none;

  border: none;
  cursor: pointer;

  outline: none;

  &:hover {
    .icon {
      fill: var(--dark-bg-redesigned);

      transition: all 0.2s;
    }
  }
}